{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="wrapper">
    <h1 align="center">Aliments</h1>
    <div class="container mt-5">
        <div class="row">
            {% for produit in produits %}
                {% include './composant/Card.html.twig' with {produit} only %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
